<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/lib/bootstrap-3.1.1.min.css">
<link rel="stylesheet" href="/static/css/lib/bootstrap-theme-3.1.1.css">
<link rel="stylesheet" href="/static/css/lib/normalize.css">
<link rel="stylesheet" href="/static/css/lib/skeleton.css">
<link rel="stylesheet" href="/static/css/lib/nv.d3.css">
<link rel="stylesheet" href="/static/css/lib/vis-network.min.css">
<script src="/static/js/lib/jquery-3.2.1.min.js"></script>
<script src="/static/js/lib/jquery-ui.js"></script>
<script src="/static/js/lib/tether.min.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>
<script src="/static/js/lib/jquery.shapeshift.min.js"></script>
<script src="/static/js/lib/d3.min.js"></script>
<script src="/static/js/lib/nv.d3.min.js"></script>
<script src="/static/js/lib/vis.min.js"></script>
<script src="/static/js/scripts.js"></script>
</head>
<body>
  <div class="row text-center">
  <div class="twelve columns">CNN VISUALIZER</div>
</div>
<div class="row text-center">
  <div class="twelve columns">hyperparameters
    <div class="conv-net" style="float:left;margin-left:20px">
      <label style="display:inline-block;padding-left:10px">No of Filters</label>
      <select id="noOfFilters" style="display:inline-block;margin-left:10px">
        <option>5</option>
        <option>10</option>
        <option>15</option>
      </select>
      <label style="display:inline-block;padding-left:10px">Spatial Extent</label>
      <select id="spatial_extent" style="display:inline-block;margin-left:10px">
        <option>3x3</option>
        <option>5x5</option>
      </select>
      <label style="display:inline-block;padding-left:10px">Stride</label>
      <select id="stride" style="display:inline-block;margin-left:10px">
        <option>3</option>
        <option>5</option>
      </select>
    </div>
    <div class="max-pool" style="float:left;margin-left:20px">
      <label style="display:inline-block;padding-left:10px">Spatial Extent</label>
      <select id="spatial_extent_mp" style="display:inline-block;margin-left:10px">
        <option>2x2</option>
        <option>3x3</option>
      </select>
      <label style="display:inline-block;padding-left: 10px">Stride</label>
      <select id="stride_mp" style="display:inline-block;margin-left:10px">
        <option>2</option>
        <option>3</option>
      </select>
    </div>
</div>
</div>
<div class="row text-center">
  <div class="ten columns">
    <div class="container" style="float:left;margin-left:20px">
      <div class="excl" style="left:10px">input</div>
      <div>Conv</div>
      <div>ReLU</div>
      <div>Pooling</div>
      <div class="excl" style="right:10px" id="out">output</div>
    </div>
    <div class="layerselector">
      <select id="layerpicker">
        <option>ReLU</option>
        <option>Conv</option>
        <option>Pooling</option>
      </select>
      <button class="btn btn-default" id="layerbutton">Add</button>
    </div>
  </div>
  <div class="two columns">
    <button class="btn btn-default btn-block" id="predict">Predict</button>
  </div>
</div>
<div class="row text-center">
  <div id="nndiagram" class="twelve columns">nn diagram</div>
</div>
<div class="row text-center">
  <div class="four columns" id="bar_chart">bar chart
    <svg></svg>
  </div>
  <div class="four columns" id="line_chart">line chart
    <svg></svg>
  </div>
  <div class="four columns">confusion matrix</div>
</div>
</body>
</html>
