extends layout

block content
    div.row.text-center
      div.twelve.columns CNN VISUALIZER
    div.row.text-center
      div.three.columns hyperparameters
      div.eight.columns builder
      div.one.column button
    div.row.text-center
      div.twelve.columns nn diagram
    div.row.text-center
      div.four.columns bar chart
      div.four.columns line chart
      div.four.columns confusion matrix