doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.1.1.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme-3.1.1.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jquery.shapeshift.min.js')
    script(src='/javascripts/scripts.js')
  body
    block content
